button{
    color: var(--text-col);
    background-color: var(--bg-col-0);
    border-radius: 8px;
    border: 2px solid var(--text-col);;
    padding: 0.4em 1em;
    font-size: 1em;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}
button.active{
    color:var(--accent-col-0)
}
button:hover{
    background-color: var(--bg-col-1);
}
