.tooltipContainer{
    position: relative;
    cursor: help;
}
.tooltip{
    overflow: hidden;
    opacity: 0;
    position: absolute;
    font-size: .7rem;
    line-height: 1.1;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 100%;
    border: 2px solid;
    border-radius: var(--rad-0);
    background-color: var(--bg-col-0);
    z-index: 100;
}
.tooltip::before{
    content: "TIPP: ";
    color: var(--accent-col-0);
}
.tooltipContainer:hover .tooltip{
    display: block;
    transition: all .2s;
    transition-delay: 3s;
    -o-transition-delay: 3s;
    opacity: 0.9;
    padding: .5em;
    border: 2px solid var(--text-col);

    top: .3em;
    bottom: unset;
    left: .3em;
    right: .3em;

}

